{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>OnlineShop</title>
    {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">

    {% endblock %}
</head>

<body class="bg-gray-50">

    {% include 'header.html' %}

    {% block content %}
    <div class="flex justify-center items-center h-screen signin">
        <div class="max-w-sm w-full p-8 bg-white shadow-md rounded-md">
            <p>You are not logged in</p>

            <h2 class="text-2xl font-semibold mb-6 text-center">Login</h2>
            <form method="post" class="space-y-4">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="submit-button">Log
                    In</button>
            </form>
            <p class="mt-4 text-center text-gray-600">Don't have an account?
                <a href="{% url 'register' %}" class="text-blue-500 hover:text-blue-700">Sign Up</a>
            </p>
        </div>
    </div>
    {% endblock %}
</body>

</html>