{% extends 'registration/login.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">

{% endblock %}

{% block content %}

<body class="bg-light">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Register</h2>

                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Oops!</strong> There was an error while processing your registration.
                            <ul>
                                {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}


                        <form method="post" enctype="multipart/form-data space-y-4">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">
                                    {{ field.label }}
                                </label>
                                {{ field }}
                            </div>
                            {% endfor %}

                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                            <p class="text-center text-muted mt-3">Already have an account?
                                <a href="{% url 'login' %}" class="text-primary">Sign in Now</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}