* {
  background-color: transparent !important;
}

/* Apply dark black color to all text elements */
body, p, h1, h2, h3, h4, h5, h6, a, span, div, section, header, footer, nav, article, input, textarea, select, button, label, th, td {
  color: #000000 !important; /* Dark black color */
}

/* Overriding Bootstrap background colors */
.bg-white, .bg-light, .bg-dark, .bg-primary, .bg-secondary, .bg-success, .bg-danger, .bg-warning, .bg-info,
.table, .card, .navbar, .jumbotron, .modal-content {
  background-color: transparent !important;
}

.offcanvas {
  background-color: #ffffff !important; /* Or any specific color you want for the off-canvas */
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('../images/gggg.jpg');
}


.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #000000;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #000000;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.cart_span{
  color: rgb(255, 0, 0);
}