.order-details table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.order-details th,
.order-details td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.order-status {
    display: inline-block;
    padding: 0.2em 0.6em;
    font-size: 0.875em;
    font-weight: 700;
    text-align: center;
    border-radius: 0.25rem;
}


* {
    background-color: transparent !important;
  }
  
  /* Apply dark black color to all text elements */
  body, p, h1, h2, h3, h4, h5, h6, a, span, div, section, header, footer, nav, article, input, textarea, select, button, label, th, td {
    color: #000000 !important; /* Dark black color */
  }
  
  /* Overriding Bootstrap background colors */
  .bg-white, .bg-light, .bg-dark, .bg-primary, .bg-secondary, .bg-success, .bg-danger, .bg-warning, .bg-info,
  .table, .card, .navbar, .jumbotron, .modal-content {
    background-color: transparent !important;
  }
  