{% load static %}

<!DOCTYPE html>
<html class="dark-mode">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Product List {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>

<body>
    <!-- Header -->
    {% include 'header.html' %}

    <!-- Main content -->
    <div class="container mx-auto px-4 py-8">
        {% block content %}{% endblock %}
    </div>


    <!-- JavaScript for theme toggle -->
    <script>
        const themeToggleBtn = document.getElementById('theme-toggle');

        themeToggleBtn.addEventListener('click', () => {
            document.documentElement.classList.toggle('dark-mode');
            document.documentElement.classList.toggle('light-mode');
        });

    </script>
</body>

</html>