{% extends 'header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="text-center mb-4">
        <h1 class="display-4">Shopping Cart</h1>
    </div>

    {% if cart %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-light">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>${{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.total_price }}</td>
                    <td>
                        <form action="{% url 'cart:cart_remove' item.product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger button-sm">Remove</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class=" text-right mt-4">
        <p class="col-md-4 h5 bg-primary text-white font-weight-bold p-3 rounded">
            Total Bill: ${{ cart.get_total_price }}
        </p>
        <form action="{% url 'order:order_create' %}" method="post">
            {% csrf_token %}
            <button type="submit" class=" table-hover btn btn-danger button-sm">Proceed To Checkout</button>
        </form>

        {% else %}
        <div class="text-center mt-4">
            <p class="h5 font-weight-bold">Your cart is empty.</p>
        </div>
        {% endif %}
    </div>
    {% endblock %}