{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
</head>

<body>
    <div class="container">

        <button type="submit"><a href="{% url 'user_profile' %}">Back To Profile</a></button>
        <h1>Change Password</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit">Change Password</button>
        </form>
    </div>
</body>

</html>