{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %} <title>Edit Profile</title> {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_profile.css' %}">
</head>

<body>
    {% block content %}
    <h1>Edit Profile</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
    {% endblock %}
</body>

</html>