{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Profile{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
</head>

<body>
    {% include 'header.html' %}
    {% block content %}
    <main>
        <div class="profile-container">
            <div class="profile-card">
                <div class="profile-picture">
                    {% if user.profile_pic %}
                    <img src="{{ user.profile_pic.url }}" alt="Profile Picture">
                    {% else %}
                    <i class="fas fa-user-circle fa-5x"></i>
                    {% endif %}
                </div>
                <div class="profile-info">
                    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                    <p>Email: {{ user.email }}</p>
                    <p>Phone: {{ user.phone }}</p>
                </div>
                <div class="profile-bio">
                    <h3>Address</h3>
                    <p>{{ user.address }}</p>
                    <p>{{ user.postal_code }}</p>
                    <p>{{ user.city }}</p>
                </div>
                {% if not user.is_authenticated %}
                <div class="not-logged-in-text">
                    <p>You are not logged in</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
                </div>
                {% else %}
                <div class="d-flex flex-column align-items-center">
                    <a href="{% url 'edit_profile' %}" class="btn-edit-profile mb-2">Edit Profile</a>
                    <a href="{% url 'order:order_history' %}" class="btn-update-password mb-2">Manage Orders</a>
                    <a href="{% url 'change_password' %}" class="btn-update-password mb-2">Update Password</a>
                    <a href="{% url 'logout' %}" class="btn-update-password mb-2">Logout</a>
                    {% if user.is_staff %}
                    <a href="{% url 'admin:index' %}" class="btn btn-warning mb-2">Admin Panel</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 My Profile. All rights reserved.</p>
    </footer>
    {% endblock %}
</body>

</html>