{% extends "header.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/order_details.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 order-details">
            <table class="table table-bordered  table-hover table-light">
                <tbody>
                    <tr>
                        <th>Placed on:</th>
                        <td>{{ order.order_placed|date:"M d, Y H:i" }}</td>
                    </tr>
                    <tr>
                        <th>Updated on:</th>
                        <td>{{ order.updated|date:"M d, Y H:i" }}</td>
                    </tr>
                    <tr>
                        <th>First Name:</th>
                        <td>{{ order.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Last Name:</th>
                        <td>{{ order.last_name }}</td>
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td>{{ order.phone }}</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>{{ order.address }}</td>
                    </tr>
                    <tr>
                        <th>Postal Code:</th>
                        <td>{{ order.postal_code }}</td>
                    </tr>
                    <tr>
                        <th>City:</th>
                        <td>{{ order.city }}</td>
                    </tr>
                    <tr>
                        <th>Payment Method:</th>
                        <td>{{ order.get_payment_display }}</td>
                    </tr>
                    <tr>
                        <th>Status:</th>
                        <td>
                            {{ order.get_status_display }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}